<div class=" container mt-5">

 
    <div class="mb-3" style="background-color: rgb(239, 239, 239) ;height: 40px; padding: 10px;">
        <p> <strong>Related products</strong>
        </p>
    </div> 
    <p-carousel [value]="product" [numVisible]="4" [numScroll]="4" [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
            <div class="product-item">
                <div class="product-item-content">
                    <div class="mb-3">
                        <img src="{{product.pimage}}" [alt]="product.name" class="product-image"
                            style="width: 200px;height: 225px;"/>
                    </div>
                    <div>
                        <h4 class="mb-1" style="text-decoration: none;color: black;font-size: 12px;">{{product.pname}}
                        </h4>


                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
   
   
</div>