p.signature::after, p.signature::before {
    content: "";
    position: absolute;
    width: 60px;
    border: 1px solid #ffffff73;
    top: 32%;
    margin: 5%;
    left: 0;
  }
  p.signature::after {
    right: 0;
    left: auto;
  }
  .ms-m-0{
  font-size: 17px;
  }
  .fhead{
    max-width: 300px;
    text-align:center;
    font-family: proxima;
    font-weight: bold;
    position: relative;
   font-size: 20px;
   left: 60px;
  }
  
  .signatures{
    
      letter-spacing: 5px;
      font-size: 20px;
      font-style: normal;
  }
  .btn{
    background: transparent;
      border-color: #fff;
      color: white;
  }
  .btn-default {
    color: #fff;
    background-color: #000;
    border-color: #000;
  }
  .btn:hover{
    border-color: #000;
  }
  
  modal-title {
    margin: 0;
    line-height: 1.428571429;
  }
  .text-center {
    text-align: center;
  }
   .modal-title, .modal-header .close span {
    color: #000;
    margin: 15px auto 0 !important;
    max-width: 400px;
    font-weight: bold;
    font-size: 24px;
  } 
  .modal-title {
    margin: 0;
    line-height: 1.428571429;
  }
  .btn-close{
    background-color: #fff;
    border: none;
    font-size: 20px;
  }
  .modal-body .form-group label {
    left: 0px;
    top: 23px;
    position: relative;
    color: #b3b3b3;
    pointer-events: none;
    transition: top .2s ease,font-size .2s ease,padding .2s ease;
    transition-property: top, font-size, padding;
      transition-duration: 0.2s, 0.2s, 0.2s;
      transition-timing-function: ease, ease, ease;
      transition-delay: 0s, 0s, 0s;
    font-size: 16px;
    padding: 0 10px 10px 46px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 46px;
  }
  input{
    margin-top: -22px;
  }
  #radio{
    position: relative;
    top:2px;
  }
  .modal-body .icon-user::before {
    content: '\e920';
  }
  .modal-body .form-group::before {
    top: 18px;
    left: 12px;
    color: #ccc;
    font-size: 25px;
  }
  label{
    display: inline-block;
     margin-bottom: 5px; 
    font-weight: bold;
  } 
  .btn-secondary{
    background-color:  #555454;
    width: 100%;
    border-radius: 30px;
    border: 3px solid #969595;
    padding: 1px;
    margin-top: 2%;
  
  }
  