<div class="row">
    <div class="Enterprise1">
        <div class="col-md-12 text-center" id="bottomLink">
            <span class="proximaBold"> <strong> Workwear that works.</strong></span>
            <br><i class="fa fa-chevron-down" id="arrow"></i>
        </div>
        <div class="row" style="background-color: rgb(216, 216, 216);">
            <div style="padding: 80px ;">
                <h1 class="proximaBold text-center"> <strong> Work Relaxed.</strong></h1>
                <p class="text-center">When we designed our uniforms, we wore them to work every day.</p>
                <p class="text-center">We still do. They’re comfy, relaxed and designed to suit your workplace.</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4" id="size">
                        <h5 style="color: grey ;"> <strong>F(IT) MATTERS</strong></h5>
                        <h3 style="color: grey ;">A size for every one.</h3>
                    </div>
                    <div class="col-md-4">
                        <div id="design" style="color: grey ;">
                            <h5> <strong>PERSONALISED BRANDING</strong></h5>
                            <h3>Your design.</h3>
                            <h3>Our customization.</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="team" style="color: grey ;">
                            <h5> <strong>TEAM UP FOR TEAM WEAR</strong> </h5>
                            <h3>Bulk orders delivered seamlessly.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color: black; margin-top: 450px ;">

    <div class="row enterprise3 height-md-100 ms-pos-rel">
        <h1 class="proximaBold" style="text-align:center ; margin-top:90px;color:rgb(188, 188, 188)">This is how we do
            it.</h1>

        <div class="col-md-12">

            <div class="row">
                <div class="col-md-2 icon text-center ms-p-m">
                    <h4 class="proximaBold">1</h4>
                    <div>
                        <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/icon-1.png"
                            class="img-responsive">
                        <h2 class="proximaThin">Single line<br>brief</h2>
                    </div>
                </div>

                <div class="col-md-2 icon text-center ms-p-m">
                    <h4 class="proximaBold">2</h4>
                    <div>
                        <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/icon-2.png"
                            class="img-responsive">
                        <h2 class="proximaThin">Mind<br>mapping</h2>
                    </div>
                </div>

                <div class="col-md-2 icon text-center ms-p-m">
                    <h4 class="proximaBold">3</h4>
                    <div>
                        <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/icon-3.png"
                            class="img-responsive">
                        <h2 class="proximaThin">Design and<br>details</h2>
                    </div>
                </div>

                <div class="col-md-2 icon text-center ms-p-m">
                    <h4 class="proximaBold">4</h4>
                    <div>
                        <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/icon-4.png"
                            class="img-responsive">
                        <h2 class="proximaThin">Sampling</h2>
                    </div>
                </div>

                <div class="col-md-2 icon text-center ms-p-m">
                    <h4 class="proximaBold">5</h4>
                    <div>
                        <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/icon-5.png"
                            class="img-responsive">
                        <h2 class="proximaThin">Manufacturing</h2>
                    </div>
                </div>

                <div class="col-md-2 icon text-center ms-p-m">
                    <h4 class="proximaBold">6</h4>
                    <div>
                        <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/icon-6.png"
                            class="img-responsive">
                        <h2 class="proximaThin">Delivery</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row">
        <div class="row" >
            <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Untitled-1.png" alt="">
        </div>
        <div class="content text-center">
            <p class="ms-m-0">Designer Uniforms</p>
            <p class="signature">by</p>
            <p class="proximaThin logoName">acecraft</p>
            <a class="btn btn-default" data-toggle="modal" data-target="#getInTouch">Get In Touch</a>
            </div>
        <div class="row">
            <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Untitled-2.png" alt="">
        </div>
    </div> -->
    <div class="fourth-block">
        <!-- <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Untitled-1.png" style="width: 1023px ; width:655px"> -->
        
        <app-getintouch></app-getintouch>
    </div>
      <div class="fifth-block">
        <!-- <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Untitled-2.png" style="width: 1023px ; width:655px" > -->
        <div class="container">
    
        </div>

</div>

<app-footer></app-footer>