  <ng-container #container>
    <div class="container" onbeforeunload="HandleBackFunctionality()">
      <div class="container">
          <!-- <a class="btn btn-dark m-3" (click)="delete(item)" target="_blank">Back</a> -->
        <!-- <div class="row">
          <div class="col-sm">
            <img src={{arrayOfValues}}>
          </div>
          <div class="col-sm">
            <h3> {{arrayOfValues}}</h3>
          </div>
          <div class="col-sm">
            <h3> {{arrayOfValues}}</h3>
          </div>
          <div class="col-sm">
              <h3> {{arrayOfValues}}</h3>
          </div> 
          <div class="col-sm">
              <h3> {{arrayOfValues}}</h3>
          </div>
        </div> -->
        {{arrayOfValues}}
        <hr>
        <div class="row">
          <div class="col-lg-7">
          </div>   
      </div>  
        <div class="col-lg-5">
          <div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>