<!--<div class="container-fluid">
    <div class="container">
        <div class="row"
    </div>
</div>-->
<div class="container-fluid">
    <div class="container"> 
       <h1>Your bag total is {{totalPrice(cart)|currency:'INR':'symbol':'3.0'}}</h1>
       <hr>
        
       <!-- <div class="container" *ngFor="let item of cart"> -->
           <div class="row" *ngFor="let item of cart">
               <div class="col-4">
                   <img src={{item.pimage}}>
               </div>
               <div class="col-4 col-sm mt-3">
                   <h3 style="justify-content: left;">{{item.pname}}</h3>
                   <p style="font-weight:inherit;">Size: {{item.size}}</p>
               </div>
               <div class="col-2 col-sm mt-3 text-center justify-content-center">
                <div style="text-align: center;">
                    
                        <button class="btn" [disabled]="!countLessThenOne" (click)="decrement(item);">
                            <i class="fa-solid fa-minus"></i>
                        </button>
                        <input type="button" class="btn btn-light"  [value]="item.quantity">
                        <button class="btn" (click)="increment();">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <!-- <p>
                            quantity: {{item.quantity}}
                        </p>

                    
                </div>
               </div>
               <div class="col-2 col-sm mt-3 text-center">
                   <!-- <h3>{{}}</h3> -->
                   <h3 style="margin-left: 25%;"> {{item.price | currency:'INR'}}</h3>
                   <a class="text-danger mt-3" (click)="delete(item)" style="text-align: center; margin-left: 40%;">Remove</a>
               </div>
               <hr class="mt-2">
           </div>
        
       <!-- </div> -->
       <!-- https://rzp.io/i/J7OJXSP9KE -->
       <div class="row">
           <div class="col-lg-8 text-center">
            <h3 class="text-secondary" style="font-size: 25px; font-weight: inherit;">Sub Total:</h3>
            <br>
            <h3>Total:</h3>
               
           </div>
           <div class="col-lg-4" style="text-align: right;">
               
                   <h3 class="text-secondary" style="font-size: 25px; font-weight: inherit;">{{totalPrice(cart)|currency:'INR'}}</h3>
                   <br>
                   <h3>{{totalPrice(cart)|currency:'INR'}}</h3>
                   <div style="justify-content: right;">
                   <a class="btn btn-outline-dark m-3" (click)="onClick()">Continue Shopping</a>
                   <a class="btn btn-outline-dark m-3" href="https://razorpay.com/" target="_blank">Place Order</a>
               
               </div>
           </div>
       </div>
      
    </div> 
</div>
