<div class="row" style="margin-top: 50px ;">
    <div class="col">
      <a [routerLink]="['/nhis']">
        <div class="card h-100 text-center  border-0">
          <img
            src="https://cdn1.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/627bd600820ea897cb5a5cfc/webp/day-wear-polos-480x480.jpg"
            class="card-img-top text-center" alt="..." style="height: 400px ;">
          <div class="card-body text-center">
  
            <p class="card-text"><b>NHIS Day Wear Polo [Boys & Girls, Nursery-Grade 5]</b></p>
          </div>
        </div>
      </a>
    </div>
  
    <div class="col">
      <a [routerLink]="['/cisroyal']">
        <div class="card h-100  border-0">
          <img
            src="https://cdn1.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/601d6e74cbfb666ae1145869/webp/elementary-school-480x480.jpg"
            class="card-img-top" alt="..." style="height: 400px ; width: 400px ;">
          <div class="card-body text-center">
  
            <p class="card-text text-center">
              <b>CIS Royal Day Wear (Grade 1-5)</b>
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a [routerLink]="['/nhg3']">
        <div class="card h-100  border-0">
          <img
            src="https://cdn1.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.products/5aa0f798f04705ab2ca347bb/images/5aa0f798f04705ab2ca347bc/5aa0f79ff04705ab2ca347d7/webp/5aa0f79ff04705ab2ca347d7-480x480.jpg"
            class="card-img-top" alt="..." style="height: 400px ;width: 400px ;">
          <div class="card-body text-center">
  
            <p class="card-text"><b>NHG Shirt [Girls, Grade 1-10]</b></p>
          </div>
        </div>
      </a>
    </div>
  </div>
  