<!-- <div class="container-fluid w-100"> -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="height:110px;">
    <div style="background-color:#000000; width:1270px;">
      <!-- Container wrapper -->
      <div class="text">
        <a routerLink="" style="color: white; text-decoration: none;">a c e c r a f t</a>
      </div>
      <div class="container-fluid">
        <!-- Toggle button -->


        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->

          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="color: black;">
            <li class="nav-item">

              <a class="nav-link" href="#"><b>SCHOOL</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="college"><b>COLLEGE</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="enterprise"><b>ENTERPRISE</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><b>NOTES</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><b>AIREN MASK</b></a>
            </li>
            <!-- <a href="#" style="padding-left:4em;"> -->

            <li class="nav-item dropdown" style="margin-left:6em;">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><img
                  src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/setting.png" class="img-responsive"
                  width="20"></a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="login">Sign In <span> <i class="fa-sharp fa-solid fa-right-to-bracket"></i></span></a></li>
                <li><a class="dropdown-item" href="signup">Sign Up <span><i class="fa-sharp fa-solid fa-user-plus"></i></span></a></li>
                <li><a class="dropdown-item" href="orderstatus">Order Status <span><i class="fa-sharp fa-solid fa-bag-shopping"></i></span></a></li>
              </ul>
            </li>
            <!-- <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/setting.png" class="img-responsive" width="20"> -->

            <!-- </a> -->
          </ul>
          <!-- Left links -->
          <!--<a href="#" style="margin-left:6em">
            
              <li class="nav-item dropdown" style="margin-left:6em">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/setting.png" class="img-responsive" width="20"></a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="login">Sign In</a></li>
                  <li><a class="dropdown-item" href="signup">Sign Up</a></li>
                  <li><a class="dropdown-item" href="orderstatus">Order Status</a></li>
                </ul>
              </li>
            <a class="nav-link" href="#"><b>SCHOOL</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="college"><b>COLLEGE</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="enterprise"><b>ENTERPRISE</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="note"><b>NOTES</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>AIREN MASK</b></a>
          </li>
        </ul>
        Left links -->
        <!--<a href="#" style="margin-left:8em">
            <div>
                <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/setting.png" class="img-responsive" width="20">
            
        </a>-->

          <a title="0" data-ng-href="/cart" href="#">
            <div class="my-cart" style="color: white;">
              <i class="fas fa-shopping-cart" style="color: white;"></i>
              <span class="cart badge badge-cart ng-binding">0</span>
            </div>
          </a>
        </div>

        <!-- Collapsible wrapper -->
        <!--
    
      <div class="d-flex align-items-center">
        Icon 
        <a class="text-reset me-3" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>
  
        Notifications 
        <div class="dropdown">
          <a
            class="text-reset me-3 dropdown-toggle hidden-arrow"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-bell"></i>
            <span class="badge rounded-pill badge-notification bg-danger">1</span>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" href="#">Some news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </div>
        Avatar
        <div class="dropdown">
          <a
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            href="#"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle"
              height="25"
              alt="Black and White Portrait of a Man"
              loading="lazy"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
          >
            <li>
              <a class="dropdown-item" href="#">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    -->










      </div>
      <!-- Container wrapper -->
    </div>
  </nav>
<!-- </div> -->
<!-- Navbar -->