.banner {
    min-height: 100vh;
    background-image: url(http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/MJK07401.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    background-position: center;
    color:#978f8f;
}
.text-center {
    text-align: center;
}
.proximaThin {
    font-family: "proxima-thin";
}
img{
    height:400px;
    width: 350px;
    margin: 10px;
    padding-left: 60px;
    
}
p{
    color:black;
    font-size: 14px;
}
