<div class="container-fulid">
    <div class="col-sm-12 wrapper return1">
        <div class="text-center">
            <div class="ms-mt-x">Returning an acecraft uniform is as easy as ordering one.</div>
            <div>We have a 100% exchange/refund policy within 5 days of delivery.</div>
            <h1 class="proximaBold" style="color: black;">1. Request A Return</h1>
            <div>Go to your account, select Order History and initiate an exchange. </div>
            <div>Select the new uniforms and follow the steps.</div>
            <img class="img-responsive" src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/laptop.jpg">
        </div>
    </div>

    <div class="row return2 ms-pos-rel" style="background-color: black;color: #978f8f;">
        <div class="container text-center">
            <h1 class="ms-mt-x ms-mb-x">2. Prepare To Return</h1>
            <div class="col-lg-4 ms-mt-x ms-mb-x">
                <p>Get hold of the acecraft tamper proof bag.</p>
                <p>Don’t have it? Use a strong envelope instead.</p>
                <span class="line"></span>
            </div>

            <div class="col-lg-4 bottomComment">
                <p>Make sure the uniforms are absolutely unused and the tags are intact.</p>
                <span class="line"></span>
            </div>

            <div class="col-md-12 bottomDiv mb-4">
                <h3 class="proximaThin">Not Sure Yet?</h3>
                <a class="getintouch ms-mt-m" data-toggle="modal" data-target="#staticBackdrop" style="text-decoration: none;">Get In Touch With Us</a><i
                    class="fas fa-chevron-right"></i>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fhead" style="font-family: Arial, Helvetica, sans-serif;">Get your Uniforms designed and styled by Us!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="orderFrom" (ngSubmit)="submitHandler()" style="padding: 10px ;">
                    <div class="form-group">
                        <div class="row d-flex">
                            <div class="col-6 mb-2" >
                                <label for="id" class="form-label"></label>
                                <input type="text" id="text" name="text" class="form-control" formControlName="FirstName" placeholder="First Name">
                                <!-- <label *ngIf="f['FirstName'].touched && f['FirstName'].invalid"></label> -->
                                <label class="error ng-binding"
                                    *ngIf=" submitted && f['FirstName'].errors?.['required']">First Name is
                                    required</label>
                            </div>
                            <div class="col-6 mb-2">
                                <label for="id" class="form-label"></label>
                                <input type="text" id="text" name="text" class="form-control" formControlName="LastName" placeholder="Last Name">
                                <label class="error ng-binding"
                                    *ngIf=" submitted && f['LastName'].errors?.['required']">Last Name is
                                    required</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label for="id" class="form-label"></label>
                                <input type="text" id="text" name="text" class="form-control"
                                    formControlName="Email" placeholder="Email">
                                    <label class="error ng-binding"
                                    *ngIf=" submitted && f['Email'].errors?.['required']">Email is
                                    required</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label for="id" class="form-label"></label>
                                <input type="text" id="text" name="text" class="form-control"
                                    formControlName="Organisation" placeholder="Organisation">
                                    <label class="error ng-binding"
                                    *ngIf=" submitted && f['Organisation'].errors?.['required']">Organisation is
                                    required</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label for="id" class="form-label"></label>
                                <input type="phone" id="number" name="number" class="form-control"
                                    formControlName="Phone" placeholder="Phone Number">
                                    <label class="error ng-binding"
                                    *ngIf=" submitted && f['Phone'].errors?.['required']">Phone is
                                    required</label>
                            </div>
                        </div>
                        <div class="row d-flex">
                            <label for="" style="color: black;">Quantity is Required</label>
                            <div class="col-12 mb-2">
                            

                            </div>

                            <div class="col-12 mb-2" style="margin-top: -30px; left: -60px; color: #b3b3b3;">
                                <label for="id" class="form-label" class="mt-5"></label>
                                <input type="radio" id="radio" name="radio">&nbsp;10-50 Sets
                                <label for="id" class="form-label" class="mt-5"></label>
                                <input type="radio" id="radio" name="radio">&nbsp;51-100 Sets

                                <label for="id" class="form-label" class="mt-5"></label>
                                <input type="radio" id="radio" name="radio">&nbsp;100+ Sets
                            </div>
                            <div class="col-12 mb-2">
                                <button class="btn btn-secondary" data-dismiss="modal"  type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>