<style>
    #intro 
    {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.123), rgba(0, 0, 0, 0.73)),url("assets/background.jpg");
        background-size: cover;
        background-position: fixed;
        background-repeat: no-repeat;
        height: 600px;
    }
    .proximaBold {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    src: url(http://fonts.googleapis.com/css?family=Ubuntu);
    font-family: "Ubuntu";
}
</style>

<div id="intro">
<div class="col-lg-6" style="text-align: right; color: rgb(202, 202, 202); padding: 250px 30px 250px 0px;">
    <h1 class="proximaBold" style="margin: 0;
    line-height: 1.2;
    font-size: 3rem;" >The acecraft Collection.</h1>
    <p style="font-size: 1.2rem;"> <strong>Simple. Sharp.</strong> </p>
    <p style="font-size: 1.2rem;"><strong>Detailed perfection that makes you</strong></p>
    <p style="font-size: 1.2rem;"><strong>look good and feel great. Put it on. It's like magic.</strong></p>
    <div class="proximaBold ms-mt-x"><strong style="font-size: 1.5rem ;"> Classic&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Absolute&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Signature</strong></div>
</div>
</div>

<div>
    <div class="container">
        <div class="col-md-12 clearfix" style="background-color: rgb(179, 179, 179) ;">
            <div class="ball">
                <img src="assets/woolen-ball.jpg" style="height: 200px ; margin-left: 450px;" class ="" alt="">
                <h2 style="text-align:center ;">Naturally Cutting-Edge.</h2>
                <pre style="text-align: center ;" class="">
                The ‘best of both worlds’ has a new definition.Every fabric in 
                  the acecraft line-up is made from a blend of two fibres to 
                give you the best range. No tech involved - it’s just the touch
                of nature. 
                </pre>
            </div>
            <div class="cotton">
                <img src="assets/Wool.png" style="height: 200px ;" alt="">
            </div>
        </div>
    </div>    
</div>