<style>
    #intro 
    {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.73)),url("assets/background.jpg");
        background-size: cover;
        background-position: fixed;
        background-repeat: no-repeat;
        height: 600px;
    }

    #back
    {
        background-image: url("assets/collegeAnotherBackground.jpg");
        background-size: cover;
        background-position: fixed;
        background-repeat: no-repeat;
        height: 500px;

    }

    #last
    {
        background-image: url("assets/CollegeLastBacground.jpg");
        background-size: cover;
        background-position: fixed;
        background-repeat: no-repeat;
        height: 500px;
    }
    /* .center
    {
        color: rgb(221, 221, 221);
        padding: 180px 10px 10px 10px;
    } */

    .content
    {
        color: rgb(221, 221, 221);
        padding: 200px 10px 10px 10px;
    }


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    src: url(http://fonts.googleapis.com/css?family=Ubuntu);
    font-family: "Ubuntu";
} 
</style>

<div id="intro">
<div class="col-lg-6" style="text-align: right; color: rgb(160, 157, 157); padding: 250px 0px 250px 0px; margin-left: 550px;">
    <h1 class="proximaBold" style="margin: 0;
    line-height: 1.2;
    font-size: 3rem;" >The acecraft Collection.</h1>
    <p style="font-size: 1.2rem;"> <strong>Simple. Sharp.</strong> </p>
    <p style="font-size: 1.2rem;"><strong>Detailed perfection that makes you</strong></p>
    <p style="font-size: 1.2rem;"><strong>look good and feel great. Put it on. It's like magic.</strong></p>
    <div class="proximaBold ms-mt-x"><strong style="font-size: 1.5rem ;"> Classic&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Absolute&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Signature</strong></div>
</div>
</div>

<div>
        <div class="col" style="background-color: rgb(179, 179, 179) ; padding-bottom: 80px;">
            <div class="ball">
                <img src="assets/woolen-ball.jpg" style="height: 200px ; margin-left: 450px;" class ="" alt="">
                <h2 style="text-align:center; color:rgb(155, 148, 148)  ;"> <strong>Naturally Cutting-Edge.</strong></h2>
                <pre style="text-align: center ; color: #00000096; font-family: Arial, Helvetica, sans-; font-size:0.9rem ;" class="">
    The ‘best of both worlds’ has a new definition.Every fabric in 
        the acecraft line-up is made from a blend of two fibres to 
    give you the best range. No tech involved - it’s just the touch
    of nature. 
                </pre>
            </div>
            <div class="Wool" style="padding: 30px 0px 30px 0px ;">
                <div class="row">
                    <div class="col-md-6">
                        <img src="assets/Wool.png" style="height: 200px ; margin-left: 230px ;" alt="">
                    </div>
                    <div class="col-md-6">
                        <h1  style="color:rgb(155, 148, 148)  ;margin-left: 60px;"> <strong> The Blended Wool</strong></h1>
                        <pre style="color: #00000096; font-family: Arial, Helvetica, sans-; font-size:0.9rem ;">
                The Blended Wool is a class apart - with a mix of polyester 
                for its wrinkle/crease-resistance and wool for warmth and 
                absorbency, end your day looking the same as how you 
                began it. 
                        </pre>
                    </div>
                </div>
            </div>
            <div class="cotton" style="padding: 30px 0px 30px 0px ;">
                <div class="row">
                    <div class="col-md-6">
                        <h1  style="color:rgb(155, 148, 148)  ;margin-left: 140px;"> <strong> The Blended Cotton</strong></h1>
                        <pre style="color: #00000096; font-family: Arial, Helvetica, sans-; font-size:0.9rem ;">
                                    The Blended Cotton is extremely strong and breathable. 
                                    Easy to iron, this variant shrinks lesser than pure cotton and 
                                    retains its colour, which makes it a favourite choice for your 
                                    everyday college wear.
                        </pre>
                    </div>
                    <div class="col-md-6">
                        <img src="assets/Cotton.png" style="height: 200px ; margin-left: 150px ;" alt="">
                    </div>
                </div>
            </div>
            <div class="viscose" style="padding: 30px 0px 50px 0px ;">
                <div class="row">
                    <div class="col-md-6">
                        <img src="assets/Viscose.png" style="height: 200px ; margin-left: 230px ;" alt="">
                    </div>
                    <div class="col-md-6">
                        <h1  style="color:rgb(155, 148, 148)  ;margin-left: 60px;"> <strong> The Blended Viscose</strong></h1>
                        <pre style="color: #00000096; font-family: Arial, Helvetica, sans-; font-size:0.9rem ;">
                The Blended Viscose addition combines two ends of the 
                spectrum - durability and a sense of softness. While the 
                polyester contributes to resilience and shape retention, the 
                viscose adds on to the overall absorbency, both sharpening
                and softening your look at the same time. 
                        </pre>
                    </div>
                </div>
            </div>
            <div id="back" style="padding: 190px 0px 30px 0px ;">
                        <div class="center" style="text-align:center;">
                            <p style="color: rgb(46, 46, 46);">THE ACECRAFT FIT</p>
                            <h1 class="proximaBold">Comfy.</h1>
                            <h1 class="proximaBold">Very comfy.</h1>
                            <p>It’s not just the fabric - it’s also the fit.</p>
                            <pre>The shoulders and sleeves fit right while the body feels 
relaxed, making it undoubtedly the best.</pre>
                        </div>
            </div>
        </div>  
</div>
<div class="row" style="background-color: black;">
    <div class="col-lg-5" style="padding: 80px 30px 30px 60px ; color: rgba(220, 201, 201, 0.644);">
            <h1 class="proximaBold"> <strong>Your pre-trial. </strong></h1>
            <h1 class="proximaBold"> <strong>Powered by our AI.</strong></h1>
            <pre class="para" style="font-size: 15px ;">
The acecraft Measurement Process is one 
among the world's most accurate methods.
We set up a pre-trial event in your campus 
and make each one try on the right fit. No 
more guessing the right size business.

            </pre>
    </div>
    <div class="col-lg-7" style="padding: 30px 30px 30px 30px ;">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo1" data-slide-to="1"></li>
              <li data-target="#demo2" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Screenshot%202019-09-18%20at%204.06.18%20PM.png" alt="Los Angeles" height = "400px">  
              </div>
              <div class="carousel-item">
                <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Screenshot%202019-09-18%20at%204.06.18%20PM.png" alt="Chicago" height = "400px">  
              </div>
              <div class="carousel-item">
                <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Screenshot%202019-09-18%20at%204.06.18%20PM.png" alt="New York" height = "400px">   
              </div>
            </div>
            <button class="carousel-control-prev" data-bs-target="#demo" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" data-bs-target="#demo" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
</div>

<div id="last">
    <div class="content" style="text-align:center ;">
        <p class="ms-m-0" style="font-size: 25px ;color: rgba(182, 182, 182, 0.591);">Designer Uniforms</p>
        <p class="signature" style="color: rgba(182, 182, 182, 0.591);">
            ⁻⁻⁻⁻⁻⁻⁻⁻⁻⁻⁻⁻⁻⁻⁻ Ⴆყ  ⁻⁻⁻⁻⁻⁻⁻⁻⁻⁻⁻⁻⁻⁻⁻

        </p>
        <p class="proximaThin logoName" style="font-size: 20px;color: rgba(182, 182, 182, 0.591);">ａｃｅｃｒａｆｔ</p>
        <button type="button" class="btn btn-dark btn-outline-light button1" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop" style="background: transparent;" >
        Get In Touch
    </button>        </div>
</div>

<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fhead" style="font-family: Arial, Helvetica, sans-serif;">Get your Uniforms designed and styled by Us!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="orderFrom" (ngSubmit)="submitHandler()" style="padding: 10px ;">
                    <div class="form-group">
                        <div class="row d-flex">
                            <div class="col-6 mb-2" >
                                <label for="id" class="form-label"></label>
                                <input type="text" id="text" name="text" class="form-control" formControlName="FirstName" placeholder="First Name">
                                <!-- <label *ngIf="f['FirstName'].touched && f['FirstName'].invalid"></label> -->
                                <label class="error ng-binding"
                                    *ngIf=" submitted && f['FirstName'].errors?.['required']">First Name is
                                    required</label>
                            </div>
                            <div class="col-6 mb-2">
                                <label for="id" class="form-label"></label>
                                <input type="text" id="text" name="text" class="form-control" formControlName="LastName" placeholder="Last Name">
                                <label class="error ng-binding"
                                    *ngIf=" submitted && f['LastName'].errors?.['required']">Last Name is
                                    required</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label for="id" class="form-label"></label>
                                <input type="text" id="text" name="text" class="form-control"
                                    formControlName="Email" placeholder="Email">
                                    <label class="error ng-binding"
                                    *ngIf=" submitted && f['Email'].errors?.['required']">Email is
                                    required</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label for="id" class="form-label"></label>
                                <input type="text" id="text" name="text" class="form-control"
                                    formControlName="Organisation" placeholder="Organisation">
                                    <label class="error ng-binding"
                                    *ngIf=" submitted && f['Organisation'].errors?.['required']">Organisation is
                                    required</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label for="id" class="form-label"></label>
                                <input type="phone" id="number" name="number" class="form-control"
                                    formControlName="Phone" placeholder="Phone Number">
                                    <label class="error ng-binding"
                                    *ngIf=" submitted && f['Phone'].errors?.['required']">Phone is
                                    required</label>
                            </div>
                        </div>
                        <div class="row d-flex">
                            <label for="" style="color: black;">Quantity is Required</label>
                            <div class="col-12 mb-2">
                            

                            </div>

                            <div class="col-12 mb-2" style="margin-top: -30px; left: -60px; color: #b3b3b3;">
                                <label for="id" class="form-label" class="mt-5"></label>
                                <input type="radio" id="radio" name="radio">&nbsp;10-50 Sets
                                <label for="id" class="form-label" class="mt-5"></label>
                                <input type="radio" id="radio" name="radio">&nbsp;51-100 Sets

                                <label for="id" class="form-label" class="mt-5"></label>
                                <input type="radio" id="radio" name="radio">&nbsp;100+ Sets
                            </div>
                            <div class="col-12 mb-2">
                                <button class="btn btn-secondary" data-dismiss="modal"  type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>