<div class="container mt-5" style="border: 1px solid #f1f1f1; min-height: 100vh;">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-3 d-flex flex-column">
        <div class="login-box">
           
            <form class="mt-2" [formGroup]="loginForm" (ngSubmit)="login()">
                <h3 class="text-center secondary mt-2" style="color:#978f8f; font-size: 32px; font-family:Ubuntu;">Forgot Your Password?</h3>
                <p class="text-center text-secondary mt-5">Please enter the email address you used to register. We will then send you a link to reset your password.</p>
                <div class="form-group mt-5">
                    <input type="email" class="form-control" name="Email" formControlName="email" placeholder="Email address">
                    <strong class="error ng-binding" *ngIf=" submitted && f['email'].errors?.['required']">Email required</strong>
                    <strong class="error ng-binding" *ngIf=" submitted && f['email'].errors?.['pattern']">Enter Valid Email</strong>
                </div>
               
                <button class="btn btn-dark mt-4 w-100" type="submit">Send Reset Link</button>   
                <div class="text-center text-secondary mt-3" style="font-size: 13px;"><span><a class="text-secondary" href="login">Login!</a></span></div>  
            </form>
        </div>
    </div>

</div>
