<br>
<h2 style="margin-left: 18.5em;">Blogs</h2>
<br>
<div class="row" style="margin-left: 3em;margin-right: 3em;">
    <div class="col-sm-6" >
      <div class="card" style="box-shadow:7px 10px 7px rgba(128, 128, 128, 0.393);
      
      ">
      <a  [routerLink]="['/noteinfo']">
        <div class="card-body" >
            <div style="background-color: black;width:525px;height:300px;">
                
                    <p  style="padding: 12em 2em 5em 10em; font-size:12px ; ">STYLE ACCESSORIES THAT COMPLEMENT FORMAL WEAR</p>
                
                
            </div>
          <br><br>
          
        </div>
    </a>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card" style="box-shadow:7px 10px 7px rgba(128, 128, 128, 0.393);
      
        ">
         <a  [routerLink]="['/noteinfo']">
            <div class="card-body" >
                <div style="background-color: black;width:525px;height:300px;">
                    
                        <p  style="padding: 12em 5em 5em 15em; font-size:12px; ">5 CLASSIC LOOK FOR HER</p>
                    
                    
                </div>
              <br><br>
              
            </div>
        </a>
        </div>
      </div>
  </div>
<br>
<br>
  <div class="row" style="margin-left: 3em;margin-right: 3em;">
    <div class="col-sm-6">
        <div class="card" style="box-shadow:7px 10px 7px rgba(128, 128, 128, 0.393);
      
        ">
         <a  [routerLink]="['/noteinfo']">
            <div class="card-body" >
                <div style="background-color: black;width:525px;height:300px;">
                    
                        <p  style="padding: 12em 5em 5em 15em; font-size:12px; ">ACING YOUR FORMAL ATTIRE</p>
                    
                    
                </div>
              <br><br>
              
            </div>
        </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="box-shadow:7px 10px 7px rgba(128, 128, 128, 0.393);
      
        ">
          <a  [routerLink]="['/noteinfo']">
            <div class="card-body" >
                <div style="background-color: black;width:525px;height:300px;">
                    
                    
                        <p  style="padding: 12em 5em 5em 15em; font-size:12px; ">SELECTING & STYLING YOUR WORKWEAR</p>
                    
                    
                </div>
              <br><br>
              
            </div>
        </a>
        </div>
      </div>
  </div>
  <br>
<br>
<div class="row" style="margin-left: 3em;margin-right: 3em;">
    <div class="col-sm-6">
        <div class="card" style="box-shadow:7px 10px 7px rgba(128, 128, 128, 0.393);
      
        ">
          <a  [routerLink]="['/noteinfo']">
            <div class="card-body" >
                <div style="background-color: black;width:525px;height:300px;">
                    
                        <p  style="padding: 12em 5em 5em 15em; font-size:12px; ">LETS TALK 'BODY TYPE' WOMEN</p>
                    
                    
                </div>
              <br><br>
              
            </div>
        </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="box-shadow:7px 10px 7px rgba(128, 128, 128, 0.393);
      
        ">
          <a  [routerLink]="['/noteinfo']">
            <div class="card-body" >
                <div style="background-color: black;width:525px;height:300px;">
                    
                        <p  style="padding: 12em 5em 5em 15em; font-size:12px;">5 CLASSIC LOOK FOR HIM</p>
                    
                    
                </div>
              <br><br>
              
            </div>
        </a>
        </div>
      </div>
  </div>
  <br>
<br>

<div class="row" style="margin-left: 3em;margin-right: 3em;">
    <div class="col-sm-6">
        <div class="card" style="box-shadow:7px 10px 7px rgba(128, 128, 128, 0.393);
      
        ">
          <a  [routerLink]="['/noteinfo']">
            <div class="card-body" >
                <div style="background-color: black;width:525px;height:300px;">
                    
                        <p  style="padding: 12em 5em 5em 15em; font-size:12px;">TIPS FOR A GREAT OUTFIT</p>
                    
                    
                </div>
              <br><br>
              
            </div>
        </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="box-shadow:7px 10px 7px rgba(128, 128, 128, 0.393);
      
        ">
          <a  [routerLink]="['/noteinfo']">
            <div class="card-body" >
                <div style="background-color: black;width:525px;height:300px;">
                    
                        <p  style="padding: 12em 5em 5em 11em; font-size:12px; ">DRESSING TO SUCCEED: THE IMPORTANCE OF 'FORMALS'</p>
                    
                    
                </div>
              <br><br>
              
            </div>
        </a>
        </div>
      </div>
  </div>
  <br>
<br>
<div class="row" style="margin-left: 3em;margin-right: 3em;">
    <div class="col-sm-6">
        <div class="card" style="box-shadow:7px 10px 7px rgba(128, 128, 128, 0.393);
      
        ">
          <a  [routerLink]="['/noteinfo']">
            <div class="card-body" >
                <div style="background-color: black;width:525px;height:300px;">
                    
                        <p  style="padding: 12em 5em 5em 11em; font-size:12px; ">WORKWEAR FOR ALL SEASONS: THE WOMEN EDIT</p>
                    
                    
                </div>
              <br><br>
              
            </div>
        </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="box-shadow:7px 10px 7px rgba(128, 128, 128, 0.393);
      
        ">
          <a  [routerLink]="['/noteinfo']">
            <div class="card-body" >
                <div style="background-color: black;width:525px;height:300px;">
                    
                        <p  style="padding: 12em 5em 5em 15em; font-size:12px; ">THE ACECRAFT DIFFERENCE</p>
                    
                    
                </div>
              <br><br>
              
            </div>
        </a>
        </div>
      </div>
  </div>
  <br>
<br>
<div class="row" style="margin-left: 3em;margin-right: 3em;">
    <div class="col-sm-6">
        <div class="card" style="box-shadow:7px 10px 7px rgba(128, 128, 128, 0.393);
      
        ">
          <a  [routerLink]="['/noteinfo']">
            <div class="card-body" >
                <div style="background-color: black;width:525px;height:300px;">
                    
                        <p  style="padding: 12em 5em 5em 11em; font-size:12px; ">CORPORATE TO CUPCAKES!-STORY OF A SUPERWOMAN</p>
                    
                    
                </div>
              <br><br>
              
            </div>
        </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="box-shadow:7px 10px 7px rgba(128, 128, 128, 0.393);
      
        ">
          <a  [routerLink]="['/noteinfo']">
            <div class="card-body" >
                <div style="background-color: black;width:525px;height:300px;">
                    
                        <p  style="padding: 12em 5em 5em 15em; font-size:12px; ">HOW TO COMPLETE YOUR COLLEGE LOOK</p>
                    
                    
                </div>
              <br><br>
              
            </div>
        </a>
        </div>
      </div>
  </div>
  <br>
<br>
<div class="row" style="margin-left: 3em;margin-right: 3em;">
    <div class="col-sm-6">
        <div class="card" style="box-shadow:7px 10px 7px rgba(128, 128, 128, 0.393);
      
        ">
         <a  [routerLink]="['/noteinfo']">
            <div class="card-body" >
                <div style="background-color: black;width:525px;height:300px;">
                    
                        <p  style="padding: 12em 5em 5em 11em; font-size:12px; ">DRESS THE RIGHT WAY TO IMPRESS THE RIGHT WAY</p>
                    
                    
                </div>
              <br><br>
              
            </div>
        </a>
        </div>
      </div>
      
  </div>
  <br>
<br>
<app-footer></app-footer>