<div style="background-color: black;">
    <div class="container">
        <div class="col-sm-12">
            <div class="ms-mb-x">
                <div class="container terms-page">
                    <h1 class="proximaBold text-center">Terms &amp; Conditions</h1>
                    <p><span>Acecraft is a brand of Alchemy. When you visit our website or buy
                            something from our store, you agree to the terms set out in this
                            agreement. We reserve the right to change the terms set in this
                            agreement. When we do so, we will update this page and mark the date
                            when updates were made.
                        </span></p>
                    <h3><strong><span>General Conditions</span></strong></h3>
                    <p><span>You may not use our products to conduct any illegal or unauthorized
                            activity that
                        </span><span>violates</span><span> laws in your jurisdiction.<br>
                            You may not reproduce, copy, or resell our product, marketing,
                            copywriting, images,</span><span>video </span><span>and</span><span>
                            packaging.<br>
                            We reserve the right to refuse orders that you place with us. This could
                            be due to limited inventory, lack of logistics support in your location,
                            or payment issues raised from our payment gateway providers.<br> You
                            agree to provide current, complete and accurate purchase and account
                            information for all purchases made at our store.</span></p>
                    <h3><span>Pricing</span></h3>
                    <p><span>We price our products with a lot of thought and rarely change them. In
                            the occasions when we need to, we reserve the right to update our
                            product prices and discontinue them based on our own discretion. When we
                            update a product’s price, this website will clearly reflect the current
                            price of the product. Discontinued products may no longer appear on the
                            website.</span></p>
                    <h3><strong><span>Delivery and Shipping</span></strong></h3>
                    <p><span>If the product is out of stock, we will notify you of the estimated
                            shipping time on the website before you place your order.
                        </span></p>
                    <h3><strong><span>Warranty and Returns</span></strong></h3>
                    <p><span>We offer product exchanges and returns within 5 calendar days from the
                            date of purchase. We do not accept cancellations once an order is
                            placed. Products marked as</span><span>‘Final Sale’</span><span>cannot
                            be returned once delivered.<br>
                            A return order is ineligible for exchange or refund if it is done beyond
                            the 5 calendar day period, or if the product is used or returned without
                            original packaging. If we receive </span><span>an</span><span>
                            in</span><span>-bound</span><span>
                            shipment for an ineligible return, additional storage, packaging and
                            shipping fees will be applicable. When paid,
                            the goods will be sent back to the original address.</span></p>
                    <h3><span>Third-Party Websites</span></h3>
                    <p><span>Certain content on our store may link to third-party websites like
                            Instagram, Twitter and Facebook that are not affiliated with us. Please
                            review the third-party's policies and practices carefully and make sure
                            you understand them before you engage in any transaction.
                        </span></p>
                    <h3><strong><span>Indemnification</span></strong></h3>
                    <p><span>You agree to hold acecraft, our subsidiaries, employees and suppliers,
                            harmless from any claim or demand, including reasonable attorneys' fees.
                        </span></p>
                    <h3><strong><span>Governing Law</span></strong></h3>
                    <p><span>These Terms of Service shall be governed by and construed in accordance
                            with the laws of India.
                        </span></p>
                    <h2 class="text-center proximaBold"><span><strong>Privacy Policy</strong></span>
                    </h2>
                    <h3><strong><span>Hosting</span></strong></h3>
                    <p><span>We host the website and backend ERP systems on reliable, well-tested,
                            cloud infrastructure that is regularly monitored and backed up. All
                            traffic between your browser and our servers is sent over HTTPS.</span>
                    </p>
                    <h3><strong><span>Collecting Data</span></strong></h3>
                    <p><span>When you buy a product from us, we store your name, address, contact
                            and purchase information. We may use this information to fulfil your
                            order, occasionally send you marketing emails, and improve the user
                            experience. All marketing communication will contain an opt-out link to
                            unsubscribe.</span></p>
                    <h3><strong><span>Sharing Data</span></strong></h3>
                    <p><span>We may share your personal information when required by law to do so or
                            to protect our rights if our Terms of Service are suspected to be
                            violated.</span></p>
                    <h3><strong><span>Payments</span></strong></h3>
                    <p><span>We never store your payment credentials on our servers. Credit card
                            information is collected by PAYTM who adhere to the standards set by
                            PCI-DSS as managed by the PCI Security Standards Council, which is a
                            joint effort of brands like Visa, MasterCard, American Express and
                            Discover.
                        </span></p>
                    <h3><strong><span>Third-Party Services</span></strong></h3>
                    <p><span>We may use third-party services for analytics, payment gateways and
                            social media. Such providers have their own terms and privacy policies.
                            For these providers, we recommend that you read their privacy policies
                            so that you can understand the manner in which your personal information
                            will be handled by these providers.</span></p>
                    <h3><strong><span>Cookies and Local Storage</span></strong></h3>
                    <p><span>Here is a list of cookies and local storage keys that we use. We've
                            listed them here should you decide to manually opt out of them.<br>
                            _gat, _ga - Used to track visits to our website. Managed by Google
                            Analytics.<br>
                            selectedSku - Stores information about which product you saw last.<br>
                            session - Stores information about products in your cart.
                        </span></p><br>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>