<div class="container-fulid" style="width: 100%;">
    <div class="wrapper">
        <div class="col-sm-12">
            <div class="caution clearfix">
                <div class="col-md-4">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    <!-- <i class="fas fa-exclamation-triangle"></i>-->
                </div>
                <div class="col-md-8">
                    <h4>CAUTION</h4>
                    <p>Your acecraft garment is special. It needs the right care to last longer and age well.</p>
                </div>
            </div>


            <div class="container height-md-100 careBox row">
                <div class="col-md-6 careImg">
                    <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/AC_FLIP2.jpg"
                        class="img-responsive">
                </div>
                <div class="col-md-6 careContent ms-pl-x row text-center">
                    <h1 class="text-mute ms-m-0 proximaThin">Wash less.</h1>
                    <h1 class="ms-m-0"><b>Wash delicately.</b></h1>
                    <p class="proximaThin">The truth is, the more you wash a cotton garment, the faster it wears out.
                        Wash your acecraft garments delicately by hand or in the most gentle machine cycle. It does not
                        need to be in water for more than 15 minutes. Always wash whites with whites and darks with
                        darks.</p>
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="iconBox col-xs-4 text-center">
                                <h5>DELICATE WASH</h5>
                                <div class="care-icon icon1"></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="iconBox col-xs-4 text-center">
                                <h5>WASH INSIDE OUT</h5>
                                <div class="care-icon icon2"></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="iconBox col-xs-4 text-center">
                                <h5>NO TWISTING</h5>
                                <div class="care-icon icon3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container careBox flexbox reverse row">
                <div class="col-md-6 careContent text-center">
                    <h1>Easy on the detergents.</h1>
                    <p class="proximaThin">Chemicals are what they are. While they clean a garment, they also take away
                        the good stuff. Use minimal detergent and no bleach. Avoid putting detergent directly on the
                        fabric that can leave spots. Dry cleaning is extreme, only your blazers will require it.</p>
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="iconBox col-xs-4 text-center">
                                <h5>MILD DETERGENT</h5>
                                <div class="care-icon icon4"></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="iconBox col-xs-4 text-center">
                                <h5>NO BLEACH</h5>
                                <div class="care-icon icon5"></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="iconBox col-xs-4 text-center">
                                <h5>DRY CLEANING</h5>
                                <div class="care-icon icon6"></div>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="col-md-6 careImg ms-pl-x">
                        <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/AC_FLIP1.jpg"
                            class="img-responsive">
                    </div>
                </div>

                <div class="container careBox row">
                    <div class="col-md-6 careImg">
                        <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/AC_FLIP3.jpg"
                            class="img-responsive">
                    </div>
                    <div class="col-md-6 careContent ms-pl-x text-center">
                        <h1>Hand dry.</h1>
                        <p class="proximaThin">Those spinning and drying machines are super harsh. Hang or flat dry your
                            acecraft product. Avoid exposure to harsh sunlight as that can cause the colour to fade.</p>
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="iconBox col-xs-4 text-center">
                                    <h5>HANG DRY</h5>
                                    <div class="care-icon icon7"></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="iconBox col-xs-4 text-center">
                                    <h5>FLAT AIR DRY</h5>
                                    <div class="care-icon icon8"></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="iconBox col-xs-4 text-center">
                                    <h5>NO TUMBLE DRY</h5>
                                    <div class="care-icon icon9"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container careBox flexbox reverse row">
                    <div class="col-md-6 careContent text-center">
                        <h1>Correct grooming.</h1>
                        <p class="proximaThin">Place the iron on full heat while the garment is still damp. Iron
                            carefully
                            without stretching. Use a lint roller on your blazers so that they continue to look new.</p>
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="iconBox col-xs-6 text-center">
                                    <h5>STEAM IRON</h5>
                                    <div class="care-icon icon10"></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="iconBox col-xs-6 text-center">
                                    <h5>USE LINT ROLLER</h5>
                                    <div class="care-icon icon11"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 careImg ms-pl-x">
                        <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/AC_FLIP4.jpg"
                            class="img-responsive">
                    </div>
                </div>

                <div class="text-center bottominst ms-mt-x">
                    Follow the guidelines, wash your product right and it will look great. If you still have any issues,
                    let
                    us know. We want you to love wearing your uniforms.
                </div>
                <a class="btn-default report ms-mt-x ms-mb-x" href="get-helps"
                    style="text-decoration: none; color:black;">REPORT AN ISSUE</a>
                    <br>
            </div>
        </div>
    </div>
    <app-footer></app-footer>