
<div class="container-fluid" style="background-color:#e1e1e1; min-height: 100vh;">
    <div class="col-md-12" style="padding-top:5vh;">
        <div class="row pt-5">
            <div class="col-lg-6">
                <h2 class="pt-5">
                    <pre>
                        
                                 Find 
                                 Your 
                                 <b>Order</b>
                    </pre>
                </h2>
            </div>
            <div class="col-lg-1 col-md-2">

            </div>
            <div class="col-lg-5 col-md-5" style="margin-left: 0.5%;">
                
                <h2 class="mt-4" style="font-size: 30px;"><b>Look it up with your shipping number</b></h2>
                <div class="mt-3">
                <input type="text" required style="width:300px;">
                </div>
                <div><button class="btn btn-dark ms-mb-l mt-3 mb-2" type="button" ng-click="trackNow()" style="width: 200px;">Continue</button></div>
                <p>Wish to track your order with your Order ID? <a href="login" style="color: #2196F3;">Login</a></p>
                <p>Need more information? <button data-toggle="modal" data-target="#staticBackdrop" style="color: #2196F3; background: transparent; border:none;">Get In Touch</button></p>
            </div>
           
        </div>
    </div>
</div>
<app-footer></app-footer>

<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fhead" style="font-family: Arial, Helvetica, sans-serif;">Get your Uniforms designed and styled by Us!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="orderFrom" (ngSubmit)="submitHandler()" style="padding: 10px ;">
                    <div class="form-group">
                        <div class="row d-flex">
                            <div class="col-6 mb-2" >
                                <label for="id" class="form-label"></label>
                                <input type="text" id="text" name="text" class="form-control" formControlName="FirstName" placeholder="First Name">
                                <!-- <label *ngIf="f['FirstName'].touched && f['FirstName'].invalid"></label> -->
                                <label class="error ng-binding"
                                    *ngIf=" submitted && f['FirstName'].errors?.['required']">First Name is
                                    required</label>
                            </div>
                            <div class="col-6 mb-2">
                                <label for="id" class="form-label"></label>
                                <input type="text" id="text" name="text" class="form-control" formControlName="LastName" placeholder="Last Name">
                                <label class="error ng-binding"
                                    *ngIf=" submitted && f['LastName'].errors?.['required']">Last Name is
                                    required</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label for="id" class="form-label"></label>
                                <input type="text" id="text" name="text" class="form-control"
                                    formControlName="Email" placeholder="Email">
                                    <label class="error ng-binding"
                                    *ngIf=" submitted && f['Email'].errors?.['required']">Email is
                                    required</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label for="id" class="form-label"></label>
                                <input type="text" id="text" name="text" class="form-control"
                                    formControlName="Organisation" placeholder="Organisation">
                                    <label class="error ng-binding"
                                    *ngIf=" submitted && f['Organisation'].errors?.['required']">Organisation is
                                    required</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label for="id" class="form-label"></label>
                                <input type="phone" id="number" name="number" class="form-control"
                                    formControlName="Phone" placeholder="Phone Number">
                                    <label class="error ng-binding"
                                    *ngIf=" submitted && f['Phone'].errors?.['required']">Phone is
                                    required</label>
                            </div>
                        </div>
                        <div class="row d-flex">
                            <label for="" style="color: black;">Quantity is Required</label>
                            <div class="col-12 mb-2">
                            

                            </div>

                            <div class="col-12 mb-2" style="margin-top: -30px; left: -60px; color: #b3b3b3;">
                                <label for="id" class="form-label" class="mt-5"></label>
                                <input type="radio" id="radio" name="radio">&nbsp;10-50 Sets
                                <label for="id" class="form-label" class="mt-5"></label>
                                <input type="radio" id="radio" name="radio">&nbsp;51-100 Sets

                                <label for="id" class="form-label" class="mt-5"></label>
                                <input type="radio" id="radio" name="radio">&nbsp;100+ Sets
                            </div>
                            <div class="col-12 mb-2">
                                <button class="btn btn-secondary" data-dismiss="modal"  type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>