<app-account></app-account>
<div class="container-fluid" style="background-color: black; min-height:100vh;">
    <div class="container">
        <div class="row pt-5">
            <div class="col-6">
                <h4 class="text-secondary">INFO</h4>
            </div>

            <div class="col-4">
                <h4 style="text-align: right;">Change Password</h4>

            </div>
            <div class="col-2">

                <h4 style="text-align: right;">Edit</h4>
            </div>

        </div>
    </div>
    <div class="container" style="height:150px; background-color:white;">
        <div class="row pt-3">
            <div class="col-2">
                <p class="pt-3">NAME</p>
                <p class="pt-2">EMAIL</p>
            </div>
            <div class="col-10">
                <p class="pt-3">Shreyas</p>
                <p class="pt-2">shreyas613@gmail.com</p>
            </div>
        </div>

    </div>
</div>