<app-account></app-account>
<div class="container-fluid" style="background-color: black; min-height:100vh;">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12">
                <h4 class="text-secondary">YOUR WALLET</h4>
            </div>

            <!-- <div class="col-4">
                <h4 style="text-align: right;">Change Password</h4>

            </div> -->
         
        </div>
    </div>
    <div class="container" style="height:150px; background-color:white;">
     <p class="pt-5 text-center" style="font-size:20px;">Your Wallet Is Empty</p>

    </div>
</div>
