<app-account></app-account>
<div class="container-fluid" style="background-color: black; min-height:100vh;">
    <div class="container">
        <div class="row pt-5">
            <div class="col-10">
                <h4 class="text-secondary">YOUR ADDRESSES</h4>
            </div>

            <!-- <div class="col-4">
                <h4 style="text-align: right;">Change Password</h4>

            </div> -->
            <div class="col-2">
               
                    <!--Button trigger modal -->
                    <button (click)="clickAddAddress()" type="button" class="btn" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        <a><span style="color:white;">ADD ADDRESS</span></a>
                    </button>
            </div>

        </div>
    </div>
    <div class="row" *ngFor="let addresss of addressData">
        <div class="container mt-4" style="height:225px; background-color:white; width:95%;">
            <div class="row">
                <div class="col-3 pt-3 justify-content-center">
                    <p>NAME</p>
                    <p>CONTACT</p>
                    <p>ADDRESS</p>
                </div>
                <div class="col-7 pt-3">
                    <p>{{addresss.sname}}</p>
                    <p>{{addresss.contact}}</p>
                    <p>{{addresss.address}}</p>
                </div>
                <div class="col-2">
                   
                </div>
                <div class="row">
                    <div class="col-10">

                    </div>
                    <div class="col-2 text-center">
                        <button (click)="onEdit(addresss)" type="button" class="btn btn-dark" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                    </button>&nbsp;
                    <button (click)="deleteAddress(addresss)" class="btn btn-danger"><i
                            class="fa-solid fa-trash"></i></button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog container mw-100">
            <div class="modal-content">
                <div class="modal-header" style="background-color: black;">
                    <h5 class="modal-title" id="exampleModalLabel" style="color:#ccc;">ADD NEW ADDRESSES</h5>
                    <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close" style="color:white;">Close</button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formValue">
                        <div class="mb-3">
                            <label class="form-label" style="color: rgb(172, 172, 172);">Student Name</label>
                            <input type="sname" class="form-control" formControlName="sname" placeholder="Student Name">
                            <label class="error ng-binding" *ngIf=" submitted && f['sname'].errors?.['required']">Name is required</label>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color: rgb(172, 172, 172);">Contact</label>
                            <input type="text" class="form-control" formControlName="contact" placeholder="Contact No.">
                            <label class="error ng-binding" *ngIf=" submitted && f['contact'].errors?.['required']">Contact is required</label>
                            <label class="error ng-binding" *ngIf="submitted && f['contact'].errors?.['pattern']">Enter valid Contact No.</label>
                            <label class="error ng-binding" *ngIf="submitted && f['contact'].errors?.['maxlength']">Max Length of Contact No. is 10 digits</label>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color: rgb(172, 172, 172);">Address</label>
                                <textarea type="text" class="form-control" formControlName="address" placeholder="Address"></textarea>
                                <label class="error ng-binding" *ngIf="submitted && f['address'].errors?.['required']">Address is required</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="submit" type="button" *ngIf="showAdd" (click)="postAddressDetails()"
                        class="btn w-100">Save Address</button>
                    <button type="button" id="submit" *ngIf="showUpdate" (click)="updateAddressDetails()"
                        class="btn w-100">Update Address</button>
                </div>
            </div>
        </div>



    </div>
    <app-footer></app-footer>