<style>
    .dropbtn {
        background-color: #f0f0f0;
        color: rgb(0, 0, 0);
        padding: 16px;
        font-size: 16px;
        border: none;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content pre {
        color: black;
        text-decoration: none;
        display: block;
        transition: all 0.3s ease-in-out 0s,
    }

    .dropdown-content pre:hover {
        background-color: #ddd;
        transition-delay: 0s, 0s, 0.3s;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        transition-delay: 0s, 0s, 0.3s;
    }

    /* .dropdown:hover .dropbtn {background-color: #5f5f5f;} */
</style>

<div class="row" style="margin-top: 50px ;">
    <div class="col">
        <a [routerLink]="['/zipper']">
            <div class="card h-100  border-0">
                <img src="https://cdn4.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/601d7104bb47db6b5e248fc5/webp/cisb-zipper-480x480.jpg"
                    class="card-img-top" alt="..." style="height: 400px ;">
                <div class="card-body text-center">

                    <p class="card-text"><b>CIS Zippers (Grade 1-12)</b></p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a [routerLink]="['/jumper']">
            <div class="card h-100  border-0">
                <img src="https://cdn3.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.products/5aa0f01491c2e5ab32f33869/images/5aa0f01491c2e5ab32f3386a/5aa0f01e91c2e5ab32f338a4/webp/5aa0f01e91c2e5ab32f338a4-480x480.jpg"
                    class="card-img-top" alt="..." style="height: 400px ;">
                <div class="card-body text-center">

                    <p class="card-text">
                        <b>NHG Jumpers [Girls, Grade 1-4]</b>
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a [routerLink]="['/trousers']">
            <div class="card h-100  border-0">
                <img src="https://cdn3.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.products/5aa0f01491c2e5ab32f33832/images/5aa0f01491c2e5ab32f33833/5aa0f01e91c2e5ab32f338a1/webp/5aa0f01e91c2e5ab32f338a1-640x640.jpg"
                    class="card-img-top" alt="..." style="height: 400px ;">
                <div class="card-body text-center">
                    <p class="card-text"><b>NH Trousers [Boys]</b></p>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col">
        <a [routerLink]="['/cis6']">
            <div class="card h-100  border-0">
                <img src="https://cdn3.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/601ba70c7779a13e481409f5/webp/t4-1-480x480.png"
                    class="card-img-top" alt="..." style="height: 400px ;">
                <div class="card-body text-center">

                    <p class="card-text"><b>CIS House T-Shirt (Red)</b></p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a [routerLink]="['/yellow']">
            <div class="card h-100  border-0">
                <img src="https://cdn3.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/601d70c2cbfb666ae114a053/webp/yellow-house-t-shirt-480x480.jpg"
                    class="card-img-top" alt="..." style="height: 400px ;">
                <div class="card-body text-center">

                    <p class="card-text"><b>CIS House T-Shirt (Yellow)</b></p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a [routerLink]="['/nhis']">
            <div class="card h-100 text-center  border-0">
                <img src="https://cdn1.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/627bd600820ea897cb5a5cfc/webp/day-wear-polos-480x480.jpg"
                    class="card-img-top text-center" alt="..." style="height: 400px ;">
                <div class="card-body text-center">

                    <p class="card-text"><b>NHIS Day Wear Polo [Boys & Girls, Nursery-Grade 5]</b></p>
                </div>
            </div>
        </a>
    </div>
</div>


