
<div class="container-fulid text-center ms-pt-s ms-pb-s">
    <div class="row justify-content-center">
        &nbsp;
        <div class="col-1">
            <a href="uniform" class="ms-pr-m">
                <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/jain.jpeg" height="50px"><br>JGI
            </a>
        </div>
        &nbsp;
        <div class="col-1">
            <a href="uniform" class="ms-pr-m">
                <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/rvschool.png"
                    height="50px"><br>RV
            </a>
        </div>
        &nbsp;
        <div class="col-1">
            <a href="uniform" class="ms-pr-m">
                <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/sophias.jpg"
                    height="50px"><br>SOPHIA
            </a>
        </div>
        &nbsp;
        <div class="col-1">
            <a href="uniform" class="ms-pr-m">
                <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/kumarans.png"
                    height="50px"><br>KUMARANS
            </a>
        </div>

        <div class="col-2">

            <a href="uniform" class="">
                <img src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Logo-%20New%20Horizon%20Gurukul.jpg"
                    height="50px"><br>NEW HORIZON <br>GURUKUL
            </a>
        </div>

        <div class="col-1">
            <a href="uniform" class="">
                <img src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/cgis.png"
                    height="50px"><br>CISB
            </a>
        </div>
        &nbsp;
        <div class="col-1">
            <a href="uniform" class="">
                <img src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/NHIS%20LOGO%20Jpeg.jpg"
                    height="50px"><br>NHIS
            </a>
        </div>
    </div>
</div>

<div class="container-fulid" style="background-color: black;">
    <div class="wrapper">
        <div class="col-sm-12">
            <div class="row school1 height-md-100 ms-pos-rel">
                <div class="col-md-12 text-center bottomLink">
                    Designer uniforms <span class="proximaBold "><b>for the doers.</b></span><br><i
                        class="fas fa-chevron-down ms-fs-20"></i>
                </div>
            </div>

            <div class="row school2 height-md-100">
                <div class="col-md-12 text-center middleText">
                    <div>Aesthetically advanced,</div>
                    <div>our designer uniforms are <span class="proximaBold">a cut above the rest, </span></div>
                    <div class="proximaBold">in every sense of the word.</div>
                </div>
            </div>

            <div class="row school3">
                <div class="height-md-100 ms-pos-rel school3">
                    <div class="col-md-12 text-center bottomLink1" style="position: bottomLink1;">
                        Perfection. Now <span class="proximaBold">delivering to your doorstep.</span><br><i
                            class="fas fa-chevron-down ms-fs-20"></i>
                    </div>
                </div>

                <div class="school4 height-md-100">
                    <div class="col-md-12 text-center middleText">
                        <div>Less <span class="proximaBold">hassle. </span>More <span class="proximaBold">hustle.</span>
                        </div>
                        <div>Our end-to-end e-commerce facility with</div>
                        <div class="proximaBold">superior technology enables us to</div>
                        <div class="proximaBold">deliver your order right to your doorstep.</div>
                    </div>
                </div>
            </div>

            <div class="row school5  ms-pos-rel">
                <div class="container">
                    <div class="col-md-12 content">
                        <h1 class="proximaBold ms-m-0">Be at ease.</h1>
                        <h1 class="proximaBold ms-m-0">Everyday.</h1>
                        <p class="proximaThin ms-mt-x">Our uniforms keep your children looking great <br> from the first
                            day of school until the end-of-the-year picnic.</p>
                    </div>
                    <div class="longImg">
                        <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/BK,.jpg"
                            class="img-responsive">
                    </div>
                </div>
            </div>

            <div class="row school6">
                <div class="container">
                    <div class="col-md-12 content text-center">

                        <div class="text-center ms-mb-x">
                            <p class="ms-m-0">Designer Uniforms</p>
                            <p class="signature">by</p>
                            <p class="proximaThin logoName">acecraft</p>
                        </div>

                        <div class="proximaThin ms-mb-x ms-fs-20">
                            Establish a <span class="proximaBold">signature look</span> for your school.
                        </div>

                        <div class="proximaThin ms-mb-x ms-fs-20 ms-pt-x">
                            Looking to change your supplier?<br>
                            <button type="button" class="btn btn-dark btn-outline-light button1" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">
                                Get In Touch
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fhead" style="font-family: Arial, Helvetica, sans-serif;">Get your Uniforms designed and styled by Us!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="orderFrom" (ngSubmit)="submitHandler()" style="padding: 10px ;">
                    <div class="form-group">
                        <div class="row d-flex">
                            <div class="col-6 mb-2" >
                                <label for="id" class="form-label"></label>
                                <input type="text" id="text" name="text" class="form-control" formControlName="FirstName" placeholder="First Name">
                                <!-- <label *ngIf="f['FirstName'].touched && f['FirstName'].invalid"></label> -->
                                <label class="error ng-binding"
                                    *ngIf=" submitted && f['FirstName'].errors?.['required']">First Name is
                                    required</label>
                            </div>
                            <div class="col-6 mb-2">
                                <label for="id" class="form-label"></label>
                                <input type="text" id="text" name="text" class="form-control" formControlName="LastName" placeholder="Last Name">
                                <label class="error ng-binding"
                                    *ngIf=" submitted && f['LastName'].errors?.['required']">Last Name is
                                    required</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label for="id" class="form-label"></label>
                                <input type="text" id="text" name="text" class="form-control"
                                    formControlName="Email" placeholder="Email">
                                    <label class="error ng-binding"
                                    *ngIf=" submitted && f['Email'].errors?.['required']">Email is
                                    required</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label for="id" class="form-label"></label>
                                <input type="text" id="text" name="text" class="form-control"
                                    formControlName="Organisation" placeholder="Organisation">
                                    <label class="error ng-binding"
                                    *ngIf=" submitted && f['Organisation'].errors?.['required']">Organisation is
                                    required</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label for="id" class="form-label"></label>
                                <input type="phone" id="number" name="number" class="form-control"
                                    formControlName="Phone" placeholder="Phone Number">
                                    <label class="error ng-binding"
                                    *ngIf=" submitted && f['Phone'].errors?.['required']">Phone is
                                    required</label>
                            </div>
                        </div>
                        <div class="row d-flex">
                            <label for="" style="color: black;">Quantity is Required</label>
                            <div class="col-12 mb-2">
                            

                            </div>

                            <div class="col-12 mb-2" style="margin-top: -30px; left: -60px; color: #b3b3b3;">
                                <label for="id" class="form-label" class="mt-5"></label>
                                <input type="radio" id="radio" name="radio">&nbsp;10-50 Sets
                                <label for="id" class="form-label" class="mt-5"></label>
                                <input type="radio" id="radio" name="radio">&nbsp;51-100 Sets

                                <label for="id" class="form-label" class="mt-5"></label>
                                <input type="radio" id="radio" name="radio">&nbsp;100+ Sets
                            </div>
                            <div class="col-12 mb-2">
                                <button class="btn btn-secondary" data-dismiss="modal"  type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>