<!-- <div>
    <div>
        <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/jain.jpeg">
    </div>
    
</div>
<br>

<div>
    <div>
        <a>
        <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/rvschool.png"></a>
    </div>
    
</div>
<br>

<div>
    <div>
        <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/sophias.jpg">
    </div>
    
</div>
<br>

<div>
    <div>
        <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/kumarans.png">
    </div>
    
</div>
<br>

<div>
    <div>
        <img src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Logo-%20New%20Horizon%20Gurukul.jpg">
    </div>
    
</div>
<br>

<div>
    <div>
        <img src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/cgis.png">
    </div>
    
</div>  
<br>
<div>
    <div>
        <img src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/NHIS%20LOGO%20Jpeg.jpg">
    </div>
    
</div>
 -->
 
 <div class="fixed-header">
    <div class="container text-center ms-pt-s ms-pb-s">
    <a href="/browse/school" class="ms-pr-m">
    <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/jain.jpeg" height="65px">JGI
    </a>

   <a   href="/browse/school" class="ms-pr-m">
    <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/rvschool.png" height="65px">RV
   </a>
    <a href="/browse/school" class="ms-pr-m">
    <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/sophias.jpg" height="65px">SOPHIA
    </a>
    <a href="/browse/school" class="ms-pr-m">
    <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/kumarans.png" height="65px">KUMARANS
    </a>
    <a href="/browse/new-horizon-gurukul" class="">
    <img src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Logo-%20New%20Horizon%20Gurukul.jpg" height="65px">NEW HORIZON  GURUKUL
    </a>
    <a href="/browse/cisb" class="column">
       <img src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/cgis.png" height="65px">CISB
   </a>
   <a href="/browse/new-horizon-international-school" class="">
       <img src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/NHIS%20LOGO%20Jpeg.jpg" height="65px">NHIS
    </a>
    </div>
    </div>
    <div>
        <div>
            <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/School-1.jpg">
        </div>


<div class="row school1 height-md-100 ms-pos-rel">
    <div class="col-md-12 text-center bottomLink">
    Designer uniforms <span class="proximaBold ">for the doers.</span><br><i class="fas fa-chevron-down ms-fs-20"></i>
    </div>
    </div>