
<div class="container-fulid text-center ms-pt-s ms-pb-s">
    <div class="row justify-content-center">
        &nbsp;
        <div class="col-1">
            <a href="uniform" class="ms-pr-m">
                <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/jain.jpeg" height="50px"><br>JGI
            </a>
        </div>
        &nbsp;
        <div class="col-1">
            <a href="uniform" class="ms-pr-m">
                <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/rvschool.png"
                    height="50px"><br>RV
            </a>
        </div>
        &nbsp;
        <div class="col-1">
            <a href="uniform" class="ms-pr-m">
                <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/sophias.jpg"
                    height="50px"><br>SOPHIA
            </a>
        </div>
        &nbsp;
        <div class="col-1">
            <a href="uniform" class="ms-pr-m">
                <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/kumarans.png"
                    height="50px"><br>KUMARANS
            </a>
        </div>

        <div class="col-2">

            <a href="uniform" class="">
                <img src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Logo-%20New%20Horizon%20Gurukul.jpg"
                    height="50px"><br>NEW HORIZON <br>GURUKUL
            </a>
        </div>

        <div class="col-1">
            <a href="uniform" class="">
                <img src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/cgis.png"
                    height="50px"><br>CISB
            </a>
        </div>
        &nbsp;
        <div class="col-1">
            <a href="uniform" class="">
                <img src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/NHIS%20LOGO%20Jpeg.jpg"
                    height="50px"><br>NHIS
            </a>
        </div>
    </div>
</div>

<div class="container-fulid" style="background-color: black;">
    <div class="wrapper">
        <div class="col-sm-12">
            <div class="row school1 height-md-100 ms-pos-rel">
                <div class="col-md-12 text-center bottomLink">
                    Designer uniforms <span class="proximaBold "><b>for the doers.</b></span><br><i
                        class="fas fa-chevron-down ms-fs-20"></i>
                </div>
            </div>

            <div class="row school2 height-md-100">
                <div class="col-md-12 text-center middleText">
                    <div>Aesthetically advanced,</div>
                    <div>our designer uniforms are <span class="proximaBold">a cut above the rest, </span></div>
                    <div class="proximaBold">in every sense of the word.</div>
                </div>
            </div>

            <div class="row school3">
                <div class="height-md-100 ms-pos-rel school3">
                    <div class="col-md-12 text-center bottomLink1" style="position: bottomLink1;">
                        Perfection. Now <span class="proximaBold">delivering to your doorstep.</span><br><i
                            class="fas fa-chevron-down ms-fs-20"></i>
                    </div>
                </div>

                <div class="school4 height-md-100">
                    <div class="col-md-12 text-center middleText">
                        <div>Less <span class="proximaBold">hassle. </span>More <span class="proximaBold">hustle.</span>
                        </div>
                        <div>Our end-to-end e-commerce facility with</div>
                        <div class="proximaBold">superior technology enables us to</div>
                        <div class="proximaBold">deliver your order right to your doorstep.</div>
                    </div>
                </div>
            </div>

            <div class="row school5  ms-pos-rel">
                <div class="container">
                    <div class="col-md-12 content">
                        <h1 class="proximaBold ms-m-0">Be at ease.</h1>
                        <h1 class="proximaBold ms-m-0">Everyday.</h1>
                        <p class="proximaThin ms-mt-x">Our uniforms keep your children looking great <br> from the first
                            day of school until the end-of-the-year picnic.</p>
                    </div>
                    <div class="longImg">
                        <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/BK,.jpg"
                            class="img-responsive">
                    </div>
                </div>
            </div>

            <div class="row school6">
                <div class="container">
                    <div class="col-md-12 content text-center">

                        <div class="text-center ms-mb-x">
                            <p class="ms-m-0">Designer Uniforms</p>
                            <p class="signature">by</p>
                            <p class="proximaThin logoName">acecraft</p>
                        </div>

                        <div class="proximaThin ms-mb-x ms-fs-20">
                            Establish a <span class="proximaBold">signature look</span> for your school.
                        </div>

                        <div class="proximaThin ms-mb-x ms-fs-20 ms-pt-x">
                            Looking to change your supplier?<br>
                            <button type="button" class="btn btn-dark btn-outline-light button1" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">
                                Get In Touch
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
<div class="modal-header">
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title text-center" id="gridSystemModalLabel">Get your Uniforms designed and styled by Us!</h4>
</div>
<div class="modal-body">
  <div ms-data-formname="contact" ms-data-buttonname="Submit" class="ng-scope ms-widget" data-ng-name="ms+++forms" ms-widgetname="ms.forms" data-ng-controller="ms_theme.controllers.ms+++forms" ms-widgetid="ms-widget-68" id="ms-widget-68">
    <form name="contact" ng-submit="submit()" class="ng-pristine ng-valid">
       <div class="ng-scope ms-widget" data-ng-name="ms+++th3+++form_layout1" ms-widgetname="ms.th3.form_layout1" data-ng-controller="ms_theme.controllers.ms+++th3+++form_layout1" ms-widgetid="ms-widget-69" id="ms-widget-69"><div class="row">
    <div class="col-sm-12 ms-mt-m">
        <!-- ngRepeat: field in fields --><div ng-repeat="field in fields" class="ng-scope">

           

            <!-- ngIf: field.settings.display_type=='text' --><div class="form-group ng-scope icon-user" ng-if="field.settings.display_type=='text'">
                <label for="name" class="ng-binding">First Name</label>

                <input type="text" ng-readonly="field.settings.read_only" class="form-control ng-pristine ng-valid ng-touched" id="name" ng-model="formData[field.name]" autocomplete="off" >
                <label class="error ng-binding"></label>
            </div><!-- end ngIf: field.settings.display_type=='text' -->

           

        </div><!-- end ngRepeat: field in fields --><div ng-repeat="field in fields" class="ng-scope">

            
            <!-- ngIf: field.settings.display_type=='text' --><div class="form-group ng-scope" ng-if="field.settings.display_type=='text'">
                <label for="lastname" class="ng-binding">Last Name</label>

                <input type="text" ng-readonly="field.settings.read_only" class="form-control ng-pristine ng-untouched ng-valid" id="lastname" ng-model="formData[field.name]" autocomplete="off">
                <label class="error ng-binding"></label>
            </div><!-- end ngIf: field.settings.display_type=='text' -->

            
        </div><!-- end ngRepeat: field in fields --><div ng-repeat="field in fields" class="ng-scope">

            <!-- ngIf: field.settings.display_type=='captcha' -->

            <!-- ngIf: field.settings.display_type=='email' --><div class="form-group ng-scope icon-email" ng-if="field.settings.display_type=='email'">
                <label for="email" class="ng-binding">Professional Email</label>

                <input type="text" ng-readonly="field.settings.read_only" class="form-control ng-pristine ng-untouched ng-valid" id="email" ng-model="formData[field.name]">
                <label class="error ng-binding"></label>

            </div><!-- end ngIf: field.settings.display_type=='email' -->
           
        </div><!-- end ngRepeat: field in fields --><div ng-repeat="field in fields" class="ng-scope">

            

            <!-- ngIf: field.settings.display_type=='text' --><div class="form-group ng-scope icon-company" ng-if="field.settings.display_type=='text'">
                <label for="subject" class="ng-binding">Organisation</label>

                <input type="text" ng-readonly="field.settings.read_only" class="form-control ng-pristine ng-untouched ng-valid" id="subject" ng-model="formData[field.name]" autocomplete="off">
                <label class="error ng-binding"></label>
            </div><!-- end ngIf: field.settings.display_type=='text' -->

            

        </div><!-- end ngRepeat: field in fields --><div ng-repeat="field in fields" class="ng-scope">

            

            <!-- ngIf: field.settings.display_type=='text' --><div class="form-group ng-scope icon-mobile" ng-if="field.settings.display_type=='text'">
                <label for="phone" class="ng-binding">Phone No.</label>

                <input type="text" ng-readonly="field.settings.read_only" class="form-control ng-pristine ng-untouched ng-valid" id="phone" ng-model="formData[field.name]" autocomplete="off">
                <label class="error ng-binding"></label>
            </div><!-- end ngIf: field.settings.display_type=='text' -->

           
        </div><!-- end ngRepeat: field in fields --><div ng-repeat="field in fields" class="ng-scope">

            
            <!-- ngIf: field.settings.display_type=='radio' --><div class="form-group ng-scope" ng-if="field.settings.display_type=='radio'">
                <label for="sets" class="ng-binding">Quantity Required</label><br>
                <!-- ngRepeat: option in field.settings.options --><label class="radio-inline ng-binding ng-scope" data-ng-repeat="option in field.settings.options">
                    <input type="radio" ng-model="formData[field.name]" name="sets" id="sets" ng-value="option.value" class="ng-pristine ng-untouched ng-valid" value="10 - 50 Sets"> 10 - 50 Sets
                </label><!-- end ngRepeat: option in field.settings.options --><label class="radio-inline ng-binding ng-scope" data-ng-repeat="option in field.settings.options">
                    <input type="radio" ng-model="formData[field.name]" name="sets" id="sets" ng-value="option.value" class="ng-pristine ng-untouched ng-valid" value="51 - 100 Sets"> 51 - 100 Sets
                </label><!-- end ngRepeat: option in field.settings.options --><label class="radio-inline ng-binding ng-scope" data-ng-repeat="option in field.settings.options">
                    <input type="radio" ng-model="formData[field.name]" name="sets" id="sets" ng-value="option.value" class="ng-pristine ng-untouched ng-valid" value="100+ Sets"> 100+ Sets
                </label><!-- end ngRepeat: option in field.settings.options -->
                <label class="error ng-binding"></label>
            </div><!-- end ngIf: field.settings.display_type=='radio' -->
            

        </div><!-- end ngRepeat: field in fields -->

    </div>
</div>

<div class="row">
    <div class="col-sm-12 form-group">
        <div class="text-center">
            <button type="submit" class="btn btn-primary ">Submit</button>
        </div>
    </div>
</div></div>
    </form>
</div>
</div>
    </div>
  </div>