
    <div class="container-fluid" style="background-color: black;">

        <ul class="nav nav-justified pt-2 pb-2">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/personalinfo']">Personal Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/address_book']">Address Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/order_history']">Orders History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/wallet']">Wallet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/acc_track']">Track Order</a>
            </li>
        </ul>
        
       
       
       <!-- <hr style="height:1px; display: block; color:white;"> -->
       
    </div>
