<div class="container-fulid" style="background-color:black;">
    <div class="prod1">
        <video width="100%" autoplay="true" loop="true" [muted]=true playsinline controls="true">
            <source src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Banner 1.mp4" type="video/mp4">
        </video>
        <div class="content z_index">
            <h1 class="proximaBold"><b>This is how our uniforms are made.</b></h1>
            <div>We curate every step of our production, from sourcing the raw materials to the construction of
                the finished uniform. We continuously refine and improve every detail of our construction
                process in order to offer the highest quality product possible.</div>
        </div>
    </div>

    <div class="prod2 container">
        <div class="col-md-6 content">
            <h1 class="proximaBold"><b>Proudly made in India.</b></h1>
            <div class="">All our uniforms are exclusively made in India under good working standards, high
                skill levels and fair wages. We have a closed and trusted relationship with all of our
                suppliers and we work towards the common goal of heightening the standards of modern
                clothing production.</div>
        </div>
        <div class="col-md-6 img"></div>
    </div>

    <div class="prod1">
        <video width="100%" autoplay="true" loop="true" [muted]=true playsinline controls="true">
            <source src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/banner_3.mp4" type="video/mp4">
        </video>
        <div class="content z_index">
            <h1 class="proximaBold"><b>The making of our fabrics.</b></h1>
            <div>Over a thousand needles work together in unison to transform the cones of string into a uniform
                roll of fabric.<br>
                Settings such as tension and density of the fabric is controlled and experimented with at this
                stage to produce a smooth and durable blend.</div>
        </div>
    </div>

    <div class="prod4 container">
        <div class="col-md-5 content">
            <h1 class="proximaBold"><b>Constructing our uniforms.</b></h1>
            <div class="">
                <p>This is where our uniforms start to take shape. Each garment is carefully sewn together
                    using tried and tested techniques.</p>
                <p>In contrary to most mass-produced factories where
                    each part of the garment is assembled by a different person, our uniforms are constructed by
                    the same person from start to finish.</p>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-6 img"></div>
    </div>

    <div class="prod1">
        <div class="container-fulid">
            <div class="videos" style="display: flex; justify-content:center;">
                <video width="100%" autoplay loop [muted]=true playsinline controls>
                    <source src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Banner 5 1st half.mp4"
                        type="video/mp4">
                </video>
                <video width="100%" autoplay loop [muted]=true playsinline controls>
                    <source src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Banner 5 2nd half.mp4"
                        type="video/mp4">
                </video>
            </div>
            <h1 class="proximaBold" style="text-align: center;"><b>Branding.</b></h1>
            <div class="proximaThin" style="text-align: center;">Your identity is integral.<br>We make sure that our
                garments have the customized logo and
                branding as desired by you. We use three methods to represent what you believe in:</div>
            <div class="ms-mt-x proximaThin" style="text-align: center;">
                - Embroidery<br>
                - Screen Print <br>
                - Sublimation Print
            </div>
        </div>
    </div>

    <div class="prod6 container">
        <div class="col-md-5 content">
            <h1 class="proximaBold"><b>Finishing quality check.</b></h1>
            <div class="">The garment is given a final check to ensure that the measurements are as
                specified by the customer. Each uniform is also checked for construction errors or other
                irregularities.</div>
            <div class="ms-mt-l">The garment is given a quick ironing and packaged carefully before being
                shipped.</div>
        </div>
        <div class="col-md-6 img"></div>
    </div><br>

    <div class="prod1">
        <video width="100%" autoplay="true" loop="true" [muted]=true playsinline controls="true">
            <source src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Assembly Line.mp4"
                type="video/mp4">
        </video>
        <div class="content z_index">
            <h1 class="proximaBold"><b>Shipped across the country.</b></h1>
            <div>Our uniforms are shipped nationwide using express shipping, and are delivered straight to the
                preferred address of the customer.</div>
        </div>
    </div>

</div>
<app-footer></app-footer>